<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <script src="https://kit.fontawesome.com/3a26109221.js" crossorigin="anonymous"></script>
</head>
<body>
<!--内容-->
<div class="container-fluid" style="background: #f1f2f7;height: 700px">
    <!--table信息-->
    <div class="row pt-5">
        <div class="col-12">
            <form class="container" method="post" onsubmit="return check()" th:action="@{/admin/product-input}">
                <input type="hidden" id="msg" th:value="${msg}">
                <input type="hidden" name="id" th:value="${product}?${product.id}">
                <div class="form-group row text-center m-auto">
                    <div class="col-12 row mt-5">
                        <span class="col-1 btn btn-secondary add-name">商品名称</span>
                        <input th:value="${product}?${product.name}:''" type="text" name="name" class="required add-input form-control border col-3">
                        <span class="col-1 required-text float-left"></span>

                        <span class="col-1 btn btn-secondary add-name">商品价格</span>
                        <input th:value="${product}?${product.price}:''" type="text" name="price" class="required add-input form-control border col-3">
                        <span class="col-1 required-text float-left"></span>
                    </div>

                    <div class="col-12 row mt-4">
                        <span class="col-1 btn btn-secondary add-name">商品存货</span>
                        <input th:value="${product}?${product.count}:''" type="text" name="count" class="required add-input form-control border col-3">
                        <span class="col-1 required-text float-left"></span>

                        <span class="col-1 btn btn-secondary add-name">商品用途</span>
                        <input th:value="${product}?${product.application}:''" type="text" name="application" class="add-input form-control border col-3">
                        <span class="col-1"></span>
                    </div>
                    <div class="col-12 row mt-4 form-group">
                        <span class="col-1 btn btn-secondary add-name">商品分类</span>

                        <select class="form-control col-3" id="sel1" name="kind">
                            <option th:selected="${product}?${product.kind.id}==${list.id}" th:each="list:${klist}" th:value="${list.id}" th:text="${list.kindName}"></option>
                        </select>
                        <span class="col-1"></span>

                        <span class="col-1 btn btn-secondary add-name">商品原价</span>
                        <input th:value="${product}?${product.cost}:''" type="text"  name="cost" class="required add-input form-control border col-3">

                        <span class="col-1 required-text float-left"></span>

                    </div>

                    <div class="col-12 row mt-3">
                        <span class="col-1 btn btn-secondary add-name">商品描述</span>
                        <input th:value="${product}?${product.description}:''" type="text" name="description" class="add-input form-control border col-11">
                    </div>
                    <div class="col-12 row mt-5">
                        <input type="submit" class="btn btn-primary input-btn col-2" th:value="提交">
                        <div class="col-1"></div>
                        <input type="reset" class="btn btn-danger input-btn col-2" th:value="重置">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script>

        //输入有问题的返回msg信息,显示失败,名称为空或者名称重复
        var msg=$("#msg").val();
        if (msg!=null && msg.length!=0){
            alert(msg);
        }

        //简单验证
        $("form input.required").each(function () {
            var requiredText=$("<p class='orangered mt-1'>*必填</p>");
            $(this).next().append(requiredText);
        })

        function check(){
                //失去焦点后验证
            var cost=parseInt($("*[name='cost']").val());
            var count=parseInt($("*[name='count']").val());
            var price=parseInt($("*[name='price']").val());

                if (!isNaN(cost) || !isNaN(count) || !isNaN(price)){
                    return true;
                }else{
                    console.log(cost+"==="+count+"===="+price)
                    alert("输入有误,存货,原价,价格必须为数字");
                    return false;
                }
        }



</script>
</body>
</html>
