<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <script src="https://kit.fontawesome.com/3a26109221.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid" style="background: #f1f2f7;">
        <div class="row">
            <div class="col-12">
                <div class="row mt-5">
                    <div class="col-2 m-auto card-info">
                        <div class="row text-center">
                            <div class="col-4 m-auto col-10-container-second-row-i-box" style="background-color: #6CCAC9;padding: 23px 0">
                                <i class="fas fa-users col-10-container-second-row-i" ></i>
                            </div>
                            <div class="col-8 m-bg-white">
                                <h2>446</h2>
                                <h6>团队数量</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-2 m-auto card-info">
                        <div class="row text-center">
                            <div class="col-4 m-auto col-10-container-second-row-i-box" style="background-color:#FF6C60;padding: 23px 0">
                                <i class="fas fa-chart-area col-10-container-second-row-i"></i>
                            </div>
                            <div class="col-8 m-bg-white">
                                <h2>446</h2>
                                <h6>今日收入</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-2 m-auto card-info">
                        <div class="row text-center">
                            <div class="col-4 m-auto col-10-container-second-row-i-box" style="background-color:#F8D347;padding: 23px 0">
                                <i class="fas fa-shopping-cart col-10-container-second-row-i"></i>
                            </div>
                            <div class="col-8 m-bg-white">
                                <h2>446</h2>
                                <h6>商品数量</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-2 m-auto card-info">
                        <div class="row  text-center">
                            <div class="col-4 m-auto col-10-container-second-row-i-box" style="background-color: #57C8F2;padding: 23px 0">
                                <i class="fas fa-yen-sign col-10-container-second-row-i"></i>
                            </div>
                            <div class="col-8 m-bg-white">
                                <h2>446</h2>
                                <h6>全部收入</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--table信息-->
        <div class="row mt-3">
            <div class="col-7">
                <h6 class="text-left border-bottom pb-3">信息概况</h6>
                <table class="table text-center mt-3">
                    <tr>
                        <th>团队统计</th>
                        <th>全部会员</th>
                        <th>全部未激活</th>
                        <th>今日新增</th>
                        <th>今日未激活</th>
                    </tr>
                    <tr>
                        <td>普卡</td>
                        <td>普卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>银卡</td>
                        <td>银卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>金卡</td>
                        <td>金卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>钻卡</td>
                        <td>钻卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>合计</td>
                        <td>合计</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                </table>
                <table class="table text-center mt-3">
                    <tr>
                        <th>团队统计</th>
                        <th>全部会员</th>
                        <th>全部未激活</th>
                        <th>今日新增</th>
                        <th>今日未激活</th>
                    </tr>
                    <tr>
                        <td>普卡</td>
                        <td>普卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>银卡</td>
                        <td>银卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>金卡</td>
                        <td>金卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>钻卡</td>
                        <td>钻卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>合计</td>
                        <td>合计</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                </table>
                <table class="table text-center mt-3">
                    <tr>
                        <th>资金统计</th>
                        <th>账户总收入</th>
                        <th>账户总支出</th>
                        <th>账户余额</th>
                        <th>今日收入</th>
                    </tr>
                    <tr>
                        <td>普卡</td>
                        <td>普卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>银卡</td>
                        <td>银卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>金卡</td>
                        <td>金卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>钻卡</td>
                        <td>钻卡</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                    <tr>
                        <td>合计</td>
                        <td>合计</td>
                        <td>9527</td>
                        <td>9257</td>
                        <td>9527</td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <div class="ml-3 mr-3 income" style="background: #42cac0">
                    <p class="mr-2 ml-5 text-white">全盘收入:131655</p>
                    <p class="mr-2 ml-5 text-white">全盘支出:46457451</p>
                    <p class="mr-2 ml-5 text-white">全盘利润:12345</p>
                    <p class="text-white display-4 font-weight-bold" style="background: #39b7ac"><span class="ml-5">26.83%</span><span style="font-size: 16px;">全盘拨出</span></p>
                </div>
                <div class="ml-3 mr-3 income mt-3" style="background: #a6d669">
                    <p class="mr-2 ml-5 text-white">全盘收入:131655</p>
                    <p class="mr-2 ml-5 text-white">全盘支出:46457451</p>
                    <p class="mr-2 ml-5 text-white">全盘利润:12345</p>
                    <p class="text-white display-4 font-weight-bold" style="background: #99c262"><span class="ml-5">26.83%</span><span style="font-size: 16px;">全盘拨出</span></p>
                </div>
                <div class="ml-3 mr-3 income mt-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#" class="list-group-One orangered">其他信息</a>
                            <a href="#" class="ml-5 list-group-Two">工作进度表</a>
                        </li>
                        <div class="list-group-boxOne">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>1</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:10%">10%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>2</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:20%">20%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>3</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:30%">30%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>4</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:40%">40%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>5</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:60%">60%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>6</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:70%">70%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>7</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:90%">90%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <span>8</span>
                                        <span class="ml-3">工作进度</span>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 style="width:100%">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="list-group-boxTwo">
                            <table class="table">
                                <tr>
                                    <td>普卡</td>
                                    <td>普卡</td>
                                    <td>9527</td>
                                    <td>+9257</td>
                                    <td>9527</td>
                                </tr>
                                <tr>
                                    <td>银卡</td>
                                    <td>银卡</td>
                                    <td>9527</td>
                                    <td>+9257</td>
                                    <td>9527</td>
                                </tr>
                                <tr>
                                    <td>金卡</td>
                                    <td>金卡</td>
                                    <td>9527</td>
                                    <td>+9257</td>
                                    <td>9527</td>
                                </tr>
                                <tr>
                                    <td>钻卡</td>
                                    <td>钻卡</td>
                                    <td>9527</td>
                                    <td>+9257</td>
                                    <td>9527</td>
                                </tr>
                                <tr>
                                    <td>合计</td>
                                    <td>合计</td>
                                    <td>9527</td>
                                    <td>+9257</td>
                                    <td>9527</td>
                                </tr>
                            </table>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <script src="../../static/js/jquery-3.4.1.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script>
        $(".list-group-One").hover(function () {
            $(".list-group-boxTwo").fadeOut(300);
            $(".list-group-boxOne").fadeIn(500);
            $(".list-group-One").addClass("orangered");
            $(".list-group-Two").removeClass("orangered");
        })
        $(".list-group-Two").hover(function () {
            $(".list-group-boxTwo").fadeIn(500);
            $(".list-group-boxOne").fadeOut(300);
            $(".list-group-Two").addClass("orangered");
            $(".list-group-One").removeClass("orangered");
        })

        $(".m-manage-li a").click(function () {
            $(".m-manage-li").removeClass("m-active");
            $(this).addClass("orangered").parents("ul").hasClass("m-manage-li").addClass("m-active");
        })
    </script>
</body>
</html>
